---
layout: default
---
<div class="header">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Lato|Libre+Baskerville" rel="stylesheet">
    <h1>{{ site.name }}</h1><br>
    <div><h2>{{ site.description }}</h2></div>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul><br>
</div>

<div id="ssb-portfolio">
  <div class="container">
  <h1 class="about__title">Projects</h1><br>
    {% for project in site.data.projects %}
<ul> 
  <li>
     <div class="col-md-8 col-md-offset-2 text-center ssb-heading">
        <a href="{{ project.link }}"" target="_blank">{{ project.name }}</a><br>
             <img src="{{ project.image }}" width="700px" style="padding-top:20px"><br>
        <p>{{ project.description }}</p><br>
    </div>
     <span style="font-weight:bold">Date Created:</span> {{ project.date }}<br>
  <li><span style="font-weight:bold">Technologies:</span> {{ project.tech }}
</li>
    {% endfor %}
</ul><br>
      

</div> 
