---
---

@import "reset";
@import "config";

body {
	color: $color-black;
	background: $color-white;
	font-family: 'Inconsolata', ;
	font-size: 100%;
	font-weight: 400;
}
h1 {
	margin-bottom: 5px;
}
p {
	font-size: 1em;
	line-height: 150%;
}
a {
  color: $color-link;
  text-decoration: none;
  &:visited {
	color: $color-link;
	text-decoration: none;
  }
  &:hover {
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid $color-link;
  }
  &:active {
	color: $color-link;
	text-decoration: none;
  }
}
ul {
	list-style: none;
	li {
		padding: 5px;
		padding-left: 10px;
		@media screen and (max-width: $br) {
			padding: 10px 0 10px 0;
		}
	}
}

hr {
  border-width: 0.5px;
  color: gray;
  margin:0;
  padding:0;
}


.wrapper {
	max-width: 600px;
	margin: auto;
	padding: 60px 30px 60px 30px;
	@media screen and (max-width: $br) {
		padding: 20px;
	}
}


#fine-print {
  font-size: .9em;
  margin-top: 25px;
  text-align: center;
  font-size: 11px;
  color: #666;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

#fine-print p {
  text-align: center;
  font-size: 11px;
  color: #666;
  padding-top: 20px;
  padding-bottom: 20px;
}
	

.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: 50px;
	@media screen and (max-width: $br) {
		display: block;
	}
	h1 {
		font-size: 1.9em;
		margin-bottom: 0;
	}
	ul {
		margin-top: 10px;
		li {
			display: inline;
			padding: 0;
			padding-left: 5px;
		}
	}
}

.blog {
	padding-bottom: 30px;
	h1 {
		font-size: 1.6em;
		font-weight: 800;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	a {
		font-size: 20px;
	}
}

.projects {
	padding-bottom: 30px;
	h1 {
		font-size: 1.9em;
		font-weight: 700;
		margin-top: 18px;
		margin-bottom: 8px;

	}
	  h2 {
			font-size: 1.4em;
			font-weight: 900;
			// margin-top: 25px;
			margin-bottom: 4px;
		}
		h4 {
			font-size: 1.1em;
			font-weight: 650;
			// margin-top: 25px;
			// margin-bottom: 4px;
		}
		a {
		font-size: 26px;
		margin-bottom: 4px;
		font-weight:bold;
	}
	ul li {
    padding-top: 14px;
    width: 600px;
}

}

.post {
	padding-bottom: 30px;
	&__back {
		a {
			
		}
	}
	&__title {
		display: block;
		margin-top: 20px;
		margin-bottom: -6px;
		h1 {
			display: inline-block;
			font-size: 1.6em;
			font-weight: 700;
			padding-right: 10px;
			padding-bottom: 2px;
			text-decoration: none;
			// border-bottom: 1px solid $color-black;
		}
		h2 {
			font-size: 1.4em;
			font-weight: 900;
		}
	}
	&__date {
		p {
			font-size: 1em;
			font-style: italic;
			padding-bottom:4px;
		}
	}
	&__meta {
		p {

		}
	}
	&__content {
		padding-top: 30px;
		h1 {
			font-size: 1.6em;
			font-weight: 700;
			margin-top: 50px;
			margin-bottom: 6px;
		}
		h2 {
			font-size: 1.4em;
			font-weight: 900;
			margin-top: 25px;
			margin-bottom: 4px;
		}
		h3 {
			font-size: 1.2em;
			font-weight: 700;
			margin-top: 25px;
			margin-bottom: 4px;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 22px;
		}
		a {
			padding-bottom: 1px;
			&:hover {
			}
		}
		strong {
			font-weight: 700;
		}
		em {
			font-style: italic;
		}
		ul {
			font-size: 1em;
			list-style: circle;
			margin-left: 30px;
			margin-top: -10px;
			margin-bottom: 15px;
			li {
				padding: 5px;
				padding-left: 5px;
				@media screen and (max-width: $br) {
					padding: 10px 0 10px 0;
				}
			}
			@media screen and (max-width: $br) {
				margin-left: 10px;
			}
		}
		img {
			margin-top: 10px;
			margin-bottom: 10px;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
		code {
			padding: 3px;
			font-size: 0.9em;
			border-radius: 3px;
			background: $color-grey;
		}
		.highlight {
			margin: 10px;
			margin-bottom: 15px;
			padding: 10px;
			line-height: 1.5;
			border-radius: 3px;
			background: $color-black;
			code {
				color: $color-code;
				background: none;
			}
		}
		.codebreak {
			margin: 15px;
			border: 0;
			border-bottom: 1px dashed $color-black;
		}
	}
}

.codinfox-tag-mark{
/*     font-size: 75%;
/*     border-radius: 5px; */
/*     background: #e7f2f7; */
 /* color: $color-link; */
/*     font-size: 75%; */
    padding: 0 .2rem 0 .2rem;
    color: $color-link;
}

.tag-link{
    padding: 0 .2rem 0 .2rem;
    color: $color-link;
}

.about {
	&__title {
		font-size: 1.7em;
		font-weight: 700;
		margin-top: 10px;
		margin-bottom: 10px;
		// margin-left: 
	}
	&__content {
		margin-top: 20px;
		h1 {
		  font-size: 1.6em;
			font-weight: 800;
			margin-top: 20px;
			margin-bottom: 10px;
		}
		h2{
		  font-size: 1.4em;
			font-weight: 900;
			margin-top: 25px;
			margin-bottom: 4px;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 10px;
		} 
	}
}
