---
layout: page
---

<div class="post__back">
    	<a href="/">&lt;-- Home</a>
</div>


<div class="header">
<ul>
  {% for item in site.data.navigation %}
   <li>
       <a href="{{ item.url }}">{{ item.title }}</a>
    </li>
   {% endfor %}
   </ul>
</div>

<div class="blog">
	<h1>ssBlog</h1>
    <ul>
        {% for post in site.posts %}
        <li>
        	<a href="{{ post.url }}">{{ post.title }}</a><br>
            {{ post.excerpt }}
        </li><br>
        {% endfor %}
    </ul>
</div>