	h1 {
		font-size: 1.6em;
		font-weight: 800;
		margin-top: 20px;
		margin-bottom: 10px;
	}
		h2 {
		font-size: 1.6em;
		font-weight: 800;
		margin-top: 20px;
		margin-bottom: 10px;
		text-decoration: underline;
	}
		h3 {
		font-size: 1.6em;
		font-weight: 800;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	a {
		font-size: 20px;
	}